@model ManagementSystem.Models.DbModels.Order
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome</title>
    <style>
        table {
            border-collapse: collapse;
            margin-bottom: 15px;
            min-width: 50%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        h3 {
            text-align: center;
        }
        thead {
            background-color: #4d5154;
            color: white;
        }
        
        @@media (max-width: 600px) {
            table {
                width: 100%;
            }
        }
    </style>
</head>
<body>
    <h3>Order Details</h3>
    <table>
        <tr>
            <th>Order no:</th>
            <td>@Model.Id</td>
            <th>Customer Name:</th>
            <td>@Model.Customer?.Name</td>
        </tr>
        <tr>
            <th>Order Date:</th>
            <td>@Model.CreatedAt.ToString("yyyy/MM/dd")</td>
            <th>Billing Address:</th>
            <td>@Model.Customer?.Address</td>
        </tr>
        <tr>
            <th>Order Status:</th>
            <td>@Model.OrderStatus</td>
            <th>Created By:</th>
            <td>@Model.ApplicationUser?.FirstName @Model.ApplicationUser?.LastName</td>
        </tr>
    </table>
    <table>
        <thead>
        <tr>
            <th>Item Name</th>
            <th>description</th>
            <th>Unit Price</th>
            <th>Qty</th>
        </tr>
        </thead>
        <tbody>
            @foreach(var orderItem in Model.OrderItems)
            {
                <tr>
                    <td>@orderItem.Item.Name</td>
                    <td>@orderItem.Item.Description</td>
                    <td>@orderItem.Item.Price</td>
                    <td>@orderItem.ItemQuantity</td>
                </tr>
            }
        </tbody>
    </table>
    <h4>Gross Amount: $@Model.CrossAmount</h4>
</body>
</html>